In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data

mouse_df = pd.read_csv(mouse_drug_data_to_load)
trial_df = pd.read_csv(clinical_trial_data_to_load)

trial_df.head()
#mouse_df.head()

# Combine the data into a single dataset

combined_df = pd.merge(mouse_df,trial_df, how = 'outer',on = ["Mouse ID", "Mouse ID"])



# Display the data table for preview

combined_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor_group_df = combined_df.groupby(["Drug","Timepoint",])

# Convert to DataFrame
tumor_mean_df = pd.DataFrame(tumor_group_df ["Tumor Volume (mm3)"].mean())

# Preview DataFrame
tumor_mean_df.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [3]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

sem_tumor_group = combined_df.groupby(["Drug","Timepoint"]).sem()["Tumor Volume (mm3)"]
sem_tumor_group

# Convert to DataFrame
sem_tumor_df = pd.DataFrame(sem_tumor_group)

# Preview DataFrame
sem_tumor_df.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [4]:
# Minor Data Munging to Re-Format the Data Frames



# Preview that Reformatting worked

In [5]:
# Generate the Plot (with Error Bars)
ax = tumor_response_df.plot(kind = 'scatter', x = 'Timepoint',y = 'Capomulin', linestyle = '--',color = 'red',
marker = '0',yerr = Capomulin_yerr);
ax.errorbar(x = tumor_response_df['Timepoint'], y= tumor_response_df['Capomulin'], yerr = Capomulin_yerr,
fmt = '0', mfc ='r', mec = 'k', ms = 6, mew=1, linestyle= '--', alpha = 0.5, label = "Capomulin")

tumor_response_df.plot(kind = 'scatter', x = 'Timepoint', y = 'Infubinol', linestyle = '--', color = 'cyan',
marker = 'd',yerr = Infubinol_yerr, ax=ax);
ax.errorbar(x = tumor_response_df['Timepoint'], y= tumor_response_df['Infubinol'], yerr = Infubinol_yerr,
fmt = 'x', mfc ='b', mec = 'k', ms = 6, mew=1, linestyle='--', alpha = 0.5, label = "Infubinol")

tumor_response_df.plot(kind = 'scatter', x = 'Timepoint', y = 'Infubinol', linestyle = '--', color = 'yellow',
marker = 'd', yerr = Infubinol
yerr = Infubinol_yerr, ax=ax);
# Save the Figure

# Save the Figure

SyntaxError: invalid syntax (<ipython-input-5-99827a2a9489>, line 14)

In [6]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [7]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

met_group_df = combined_df.groupby(["Drug","Timepoint",])

# Convert to DataFrame
met_mean_df = pd.DataFrame(met_group_df.mean())

# Preview DataFrame
met_mean_df.head()

                     Tumor Volume (mm3)  Metastatic Sites
Drug      Timepoint
Capomulin 0                   45.000000          0.000000
          5                   44.266086          0.160000
          10                  43.084291          0.320000
          15                  42.064317          0.375000
          20                  40.716325          0.652174

In [8]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame
met_tumor_group = combined_df.groupby(["Drug","Timepoint"]).sem()["Tumor Volume (mm3)"]
met_tumor_group

# Convert to DataFrame
met_tumor_df = pd.DataFrame(met_tumor_group)

# Preview DataFrame
met_tumor_df.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [9]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [10]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [11]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
mice_count_df = pd.DataFrame(tumor_group_df["Mouse ID"].count())

mice_count_df.reset_index(inplace=True)
# Convert to DataFrame

# Preview DataFrame
mice_count_df.head()

        Drug  Timepoint  Mouse ID
0  Capomulin          0        25
1  Capomulin          5        25
2  Capomulin         10        25
3  Capomulin         15        24
4  Capomulin         20        23

In [12]:
# Minor Data Munging to Re-Format the Data Frames
Capomulin_df2 = mice_count_df.loc[mice_count_def["Drug"] =="Capomulin",:]
rename_Capomulin_df2 = Capomulin_df.rename(columns =["Mouse ID" : Capomulin"}}
rename_Capomulin_df2.head()

# Preview the Data Frame

SyntaxError: invalid syntax (<ipython-input-12-c98435059829>, line 3)

In [13]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [14]:
# Calculate the percent changes for each drug


# Display the data to confirm

In [15]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

NameError: name 'fig' is not defined

![Metastatic Spread During Treatment](../Images/change.png)